* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;  
}

body {  
    width: 100%;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* ANIMATIONS ------------------------------------------------------ */

#email:hover  {
    animation: girar 1s cubic-bezier(0.02, 0.27, 0.25, 0.83);
}
#linkedin:hover  {
    animation: girar 1s cubic-bezier(0.02, 0.27, 0.25, 0.83);
}
#github:hover  {
    animation: girar 1s cubic-bezier(0.02, 0.27, 0.25, 0.83);
}
#instagram:hover  {
    animation: girar 1s cubic-bezier(0.02, 0.27, 0.25, 0.83);
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* END ANIMATIONS ----------------------------------------------------- */

/* HEADER  --------------------------------------------------------*/

.navigation_container_div {
    display: flex;
}

.navigation_container {
    display: flex;
    justify-content: space-evenly;
    background-color: #2c3e50;
    width: 100vw;
}

.navigation_container_iten {
    display: inline;
    margin-top: 25px;
    margin-bottom: 25px;
    color:#ffffff;
}

#Home_button {
    font-size: 1.5rem;
    color: #ffffff;
}

#Projects_button {
    font-size: 1.5rem;
    color: #ffffff;
}

#Contact_button {
    font-size: 1.5rem;
    color: #ffffff;
}


/* END HEADER -------------------------------------------------- */

/* MAIN --------------------------------------------------------- */


/* ************************************* Main Paige *********************************** */
.contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: radial-gradient(
        ellipse at center,
        #4ca1af 0%,
        #2c3e50 50%
        );
    height: 100vh;
    }
    
.main_title {
    position: relative;
    display: inline-block;
}
    
.icons_list {
    display: inline;
}
    
.icons {
    color: #ffffff;
}
    
.intro_icons > ul {
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: 1px;
}

#Intro {
    font-size: 1.5rem;
    display: inline;
    position: absolute;
    top: 25px;
    left: 11px;
}
    
#Icons {
    display: inline;
    font-size: 2rem;
    top: 15px;
}
    
#Designer {
    font-size: 11rem;
    display: inline-block;
}
    
#Age {
    font-size: 1rem;
    display: block;
    position: absolute;
    right: 1px;
    bottom: 40px;
}
    
    
/* *************************************  End Main Paige *********************************** */

.background_gradient {
    background: linear-gradient(#2c3e50, #4ca1af);
}

/* *********************************** Projects_overview ********************************************** */

.projects_overview {
    height: 100vh;
    padding-top: 150px;
}

.pokemon_1_and_2 {
    display: flex;
    justify-content: space-evenly;
}

.pokemon {
    width: 300px;
    height: 300px;
}

.pokemon_1 {
    display: block;
    align-items: center;
}

.pokemon_2 {
    display: block;
    align-items: center;
}

.pokemon_3 {
    display: block;
    align-items: center;
}

.pokemon_3_container {
    display: flex;
    justify-content: space-evenly;
}

/* ********************************************* End Projects_overview ************************************ */

.project_container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.project_image {
    width: 600px;
    height: 600px;
}

.project_text {
    max-width: 800px;
}

.project_1{
    padding-top: 150px;
}
.project_2 {
    padding-top: 150px;
}
.project_3 {
    padding-top: 150px;
}





/* END MAIN --------------------------------------------------------- */

/* FOOTER ---------------------------------------------------------- */


.year_developed {
    color: #000;
}


/* END FOOTER ---------------------------------------------------------- */
